@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>HELLO WORLD FROM .NET 6</h1>
    <p class="lead">Learn about building webapps with ASP.NET Core.</p>
</div>
